<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>com.work.tour</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>inputCheck</servlet-name>
    <servlet-class>servlet.inputCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputCheck</servlet-name>
    <url-pattern>/servlet/inputCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginCheck</servlet-name>
    <servlet-class>servlet.loginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCheck</servlet-name>
    <url-pattern>/servlet/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReCollection</servlet-name>
    <servlet-class>servlet.ReCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReCollection</servlet-name>
    <url-pattern>/servlet/ReCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvalidateServlet</servlet-name>
    <servlet-class>servlet.InvalidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateServlet</servlet-name>
    <url-pattern>/servlet/InvalidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelCollectionServlet</servlet-name>
    <servlet-class>servlet.CancelCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelCollectionServlet</servlet-name>
    <url-pattern>/servlet/CancelCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>